.App {
  text-align: center;
  background: linear-gradient(0deg, rgb(19,10,56) 0%, rgb(17,10,58) 50%, rgb(15,31,82) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* Ensures that the gradient covers the full page even if the content is shorter */
}

